* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-header {
    height: 75px;
}

.my-main {
    height: calc(100vh - 75px);
}

.my-search-bar {
    box-shadow: none;
}

.my-aside {
    background-color: rgb(15, 38, 60);
}

.my-badge-button {
    background-color: transparent;
    border: none;
}

.badge {
    background-color: rgb(22, 91, 186);
}

.checkbox-container {
    border: 1px grey solid;
    margin: 10px;
    border-radius: 10px;
}

.child-flex>* {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px grey solid;
}

.child-flex input {
    margin-right: 10px;
}

.icon-table {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    background-color: rgb(255, 77, 0);
    

}




/* MEDIA QUERY MOBILE */ 

@media (max-width: 576px) { 
    
}


@media (max-width: 992px) { 
    button p {
        display: none;
    }

    .logo-1 {
        display: none;
    }

    .col-auto img .logo-2 {
        width: 10%;
        display: block;
    }

    .icons-none {
        display: none;
    }
}
    



