.badge {
    background-color: rgb(22, 91, 186);
}




/* MEDIA QUERY MOBILE */ 

@media (max-width: 576px) { 
    
}


@media (max-width: 992px) { 
    button p {
        display: none;
    }

    .logo-1 {
        display: none;
    }

    .col-auto img .logo-2 {
        width: 10%;
        display: block;
    }

    .icons-none {
        display: none;
    }
}
    



